.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.title {
    display: flex;
    flex-direction: row;
    height: 47px;
    background-color: #FF6060;
    margin: 30px 0 0 0;
    border-radius: 10px;
    justify-content: space-between;
    vertical-align: middle;
    color: white;
}

.txtTitle {
    display: flex;
    align-self: center;
    color: white;
    padding: 10px;
    /*font-size: 24px;*/
}

.expand {
    display: block;
    position: relative;
    top: -10px;
    z-index: -1;
    background-color: #F6F6F6;
    color: #FF6060;
    padding: 20px 10px;
    /*font-size: 24px;*/
    font-weight: 400;
}

@media (max-width: 800px) {
    .title {
        height: 30px;
    }
}