
.bg_dark {
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 1;
  background-color: #12002b;
  height: calc(100vh - 156px);
}
.sign_in_button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  /*margin: 1rem;*/
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}
  
.sign_in_content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  max-width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 30px 0;
  padding: 2rem;
}
  

.iconUser {
  width: 96px;
  height: 96px;
}


.input_remember {
  display: flex;
}

.input_remember label {
  margin-left: 0.25rem;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input_wrapper label {
  font-weight: bold;
}
  
.input_wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.error {
  display: none;
}
.errorActive {
  display: block;
  color: red;
}